# Python Programming

## Introduction to Python

* Python is a high-level, interpreted programming language known for its readability, simplicity, and broad applicability.
It was created by Guido van Rossum and first released in 1991.

* Why Python?
    * Easy to learn
    * Easy to maintain
    * A broad standard library
    * Easy to read
    * Data memory allocation(DMA)
        * Static  -> Fixed memory allocation
        * Dynamic -> Changing memory allocation

* Applications:
    * Web applications
    * Scientific and numeric computing
    * Software prototype
    * Good language to teach programming

## Data types , variables and Keywords

### Data types

* Data types specify what kind of value an object holds. 

* Types of Data types
     * Number data type:
         * Integer (int), 
         * Floating Point (float),
         * Complex Numbers(complex)
     * String (str)
     * Boolean (bool) 
     * List (list)
     * Tuple (tuple) 
     * Set (set) 
     * Dictionary (dict)

In [10]:
#To find a data type of a variable

a=1
b=12.12
c=4+5j #j or J can be used
d='Ganesh'
e=True
f=[1,2,3,4]
g=(1,2,3,4)
h={1,2,3,4}
i={1:10,2:20,3:30}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

###  Variables

* Variables are names that are used to refer to data stored in memory. 
* In Python, you donâ€™t need to explicitly declare the type of a variable; it is inferred from the value assigned.

          x = 10               # An integer
          y = 3.14             # A floating-point number
          name = "Alice"       # A string
          is_active = True     # A boolean

### Keywords

* Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.
* They are used to define the syntax and structure of the Python language.
* There are 36 keywords in python.But according to the current version(python 3.14),there are 33 keywords in python.

In [39]:
#keywords in python

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Basic Implementation Of Python

In [126]:
#Ex:1 
#Write a program to print "Hello World"

print("Hello World")

Hello World

In [124]:
#Ex:2 
#Write a program to accept Integer input from user and display the output

a=int(input())
print("Integer Input:",a)

 12

Integer Input: 12

In [122]:
#Ex:3 
#Write a program to accept Char input from user and display the output

X=str(input())
print("Char Input:",X)

 gan

Char Input: gan

In [120]:
#Ex:4 
#Write a program to accept Float input from user and display the output

X=float(input())
print("Float Input:",X)

 12.2

Float Input: 12.2

In [118]:
#Ex:5 
#Write a program to accept Float input from user and display the output with Two precision

x=float(input())
print('Float Input: %.2f' %x)

 12.22

Float Input: 12.22

In [128]:
#Ex:6 
#Write a program to accept Char input from user and display the ASCII value of it

X=str(input())
print("ASCII:",ord(X))

 g

ASCII: 103

In [132]:
#Ex:7 
#Write a program to accept Integer(ASCII) input from user and display the char value of it

X=int(input())
print("ASCII:",chr(X))

 48

ASCII: 0

In [136]:
#Ex:8 
#Write a program to print Quotient and Remainder

A=int(input('Enter a Dividend:'))
B=int(input('Enter a Divisor:'))
print('Quotient:',A//B) #print('Quotient:',int(A/B)) to print without float points
print('Remainder:',A%B)

Enter a Dividend: 2
Enter a Divisor: 1

Quotient: 2
Remainder: 0

In [138]:
#Ex:9 
#Write a program to accept base and power as input and print the result

A=int(input('Enter a Base:'))
B=int(input('Enter a Exponent:'))
print('Output',A**B)

Enter a Base: 2
Enter a Exponent: 2

Output 4

In [144]:
#Ex no: 10 
#To get 3 different inputs from the user 

num=int(input())
print('Integer Input', num) 
print(type(num))
num1=float(input())
print('Float Input: ',num1)
print(type(num1))
num2=str(input())
print('Char Input:',num2) 
print(type(num2))

 22

Integer Input 22
<class 'int'>

 12.22

Float Input:  12.22
<class 'float'>

 Ganesh

Char Input: Ganesh
<class 'str'>

In [146]:
#Ex no:11 
#To get information about id card

name=str(input('Enter your name: '))
print('Name: ', name)
age=int(input('Enter your age: '))
print('Age: ', age)
roll_no=int(input('Enter your Roll no: '))
print('Roll no: ', roll_no)
location=str(input('Enter your place: '))
print('Place: ',location)
phone_no=int(input('Enter your Phone number: '))
print('Phone number: ', phone_no)

Enter your name:  Ganesh

Name:  Ganesh

Enter your age:  20

Age:  20

Enter your Roll no:  116

Roll no:  116

Enter your place:  Coimbatore

Place:  Coimbatore

Enter your Phone number:  6383502208

Phone number:  6383502208

## Conditional Statements

* Conditional statements in Python allow you to execute certain blocks of code based on specific conditions.

* Real time examples:
    * Sign in process
    * ATM pin
    * Phone password
    * OTP verification
    * Add/Edit Bank Account

* Types of Conditional Statments:
    * if Statement
    * if..else statement
    * Nested if statement
    * if..elif Statements

###  if statment

* If a condition is true,performs a function.If false, it simply skips it.

* Syntax:
    * if(condition):
        * statments

In [156]:
#if conditions 
#TO check Whether the person is eligible to vote

age=int(input('Enter your age:'))
if age>18:
    print("Eligible to vote")

Enter your age: 22

Eligible to vote

###  if..else Statment

* This statment runs different set of statments depending on whether an expression is true or false

* Syntax:
    * if (condition):
        * statements
    * else:
        * statments

In [158]:
#if else conditions 
#To check whether the given number is odd or even

a=int(input('Enter a number:'))
if a%2==0:
    print("The given number is even")
else:
    print("The given number is odd")

Enter a number: 2

The given number is even

###  Nested if

* It means  an if statment inside another if statment.We can place an if statment inside another if statment

* Syntax:
    * if(condition):
        * if(condition):
            * statments
        * else:
            * statments

In [160]:
#Nested if 
#To check whether the person is eligible to donate blood

age=int(input('Enter your age :'))   
if age>16:
    weight=int(input('Enter your weight :'))
    if weight>45:
        print('Eligible')
else:
    print('not Eligible')

Enter your age : 20
Enter your weight : 60

Eligible

### if..elif statment

* When one condition is true,that block of code alone will be executed,and rest of a ladder is bypassed

* syntax:
    * if(condition):
        * statment
    * elif(condition):
        * statment
    * else:
        * statment

In [164]:
#if else if statment 
#To check the grade of a person

marks=int(input('Enter your mark:'))
if marks>=90:
    print('A grade')
elif marks>=80:
    print('B Grade')
elif marks>=70:
    print('C grade')
elif marks>=60:
    print('D Grade')
else:
    print('You Failed')

Enter your mark: 80

B Grade

### Excercises

In [86]:
#Ex no:1 
#Write a program to swap two variable's value without using a temporary variable

x=int(input())
y=int(input())
x,y=y,x
print(x)
print(y)

 12
 21

21
12

In [166]:
#Ex no:2 
#Write a program that takes an input from the user and checks if the number is postive,negative or zero

X=int(input('Enter a number:'))
if X>0:
    print('The Number is positive')
elif X<0:
    print('The Number is negative')
else:
    print('The Number is Zero')

Enter a number: 2

The Number is positive

In [82]:
#Ex no:3 
#Write a python program to concatenate two strings provided by user

first_name=str(input('Enter a first word:'))
second_name=str(input('Enter a second word:'))
full_name=first_name+second_name
print('Concatenation:',full_name)

Enter a first word: gan
Enter a second word: esh

Concatenation: ganesh

In [80]:
#Ex no:4 
#Write a python program to find the area of a circle given its radius

radius=int(input('Enter a radius of a circle:'))
area=3.14*(radius**2)
print('Area of a Circle is', area)

Enter a radius of a circle: 2

Area of a Circle is 12.56

In [78]:
#Ex no:5 
#Write a python program that converts a given temparature in celsius to fahrenheit

celsius=float(input('Enter a temparature in celsius value:'))
fahrenheit=(celsius * 9/5) + 32
print('Temparature in fahrenheit value is',fahrenheit,'F')

Enter a temparature in celsius value: 12

Temparature in fahrenheit value is 53.6 F

In [88]:
#Ex no:6 Write a program to check if the given number is odd or even

a=int(input('Enter a number:'))
if a%2==0:
    print("The given number is even")
else:
    print("The given number is odd")

Enter a number: 12

The given number is even

In [66]:
#Ex no:7 
#Write a program to find the largest among three numbers using nested if statements

x=int(input('Enter a number:'))
y=int(input('Enter a number:'))
z=int(input('Enter a number:'))
if x>y>z or x>z>y:
    print(x,'is the Largest number...')
elif y>z>x or y>x>z:
    print(y,'is the Largest number...')
else:
    print(z,'is the Largest number...')

Enter a number: 12
Enter a number: 2
Enter a number: 3

12 is the Largest number...

In [90]:
#Ex no:8 
#Write a program to check if a year is leap year

year =int(input('Enter a year:'))
if (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
    print("It is a Leap year...")
else:
    print("It is NOT a Leap year...")

Enter a year: 2024

It is a Leap year...

In [92]:
#Ex no:9 
#Write a program to categorize a person's age into different lifestages

age=int(input('Enter your age:'))
if age<=12:
    print('child')
elif age<=19:
    print('teenager')
elif age<=59:
    print('Adult')
else:
    print('Senior Citizen')

Enter your age: 22

Adult

In [98]:
#Ex no:10 
#Write a program to check if a given character is a vowel or consonent

Z=str(input('Enter a character:'))
i='a','A','e','E','i','I','o','O','u','U'
if Z in i:
   print('The given character is vowel')
else:
    print('The given character is Consonent')

Enter a character: g

The given character is Consonent

## Looping Statements

* Looping statements in Python are used to repeatedly execute a block of code.

* Types of Looping statements
    * for loop
    * while loop
    * Nested loop

###  for loop

* for loop is used for iterating over a sequence.

* syntax:
    * for (variable) in (sequence):

In [170]:
#For loop 
#To print number given by user from zero to given value

Z=int(input('enter a value:'))
for i in range(0,Z+1):
    print(i,end=' ')

enter a value: 10

0 1 2 3 4 5 6 7 8 9 10

### while loop

* while loop is used to executed number of statments or body till the condition passed in while is true.Once the condition is false, the control will come out of the loop

* syntax:
    * while (condition):

In [176]:
#while loop

a=int(input('Enter value:'))
while a<=25:
    print(a,end=' ')
    a=a+5

Enter value: 5

5 10 15 20 25

### Nested loops

* Nested loops in Python involve placing one loop inside another.This allows you to perform more complex operations where each iteration of the outer loop triggers multiple iterations of the inner loop.

* Syntax:
    * for outer_variable in outer_sequence:
        * for inner_variable in inner_sequence:
          #Code to execute for each combination of outer and inner variables

In [12]:
#Nested for loop 
#To generate a pattern as given 

for i in range(1,8):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

###  Break statement

* The break statement in Python is used to exit from a loop prematurely, before the loop condition becomes false.It can be used in both for and while loops.

In [178]:
#Nested For loop using break statment

for i in range(1,6):
    if(i==3):
        print('loop breaks...')
        break
    for j in range(1,4):
        print(i,end=' ')
    print()

1 1 1
2 2 2
loop breaks...

### continue statement

* The continue statement in Python is used to skip the current iteration of a loop and proceed to the next iteration

In [180]:
#Nested For loop using Continue statment

for i in range(1,6):
    for j in range(1,4):
        if(j==3):
            print('Loop breaks..')
            continue
        print(i,end=' ')
    print()

1 1 Loop breaks..

2 2 Loop breaks..

3 3 Loop breaks..

4 4 Loop breaks..

5 5 Loop breaks..

## OPERATORS

* Operators in Python are special symbols or keywords that perform operations on variables and values.

* Types of operators in python
    * Arithmetic operators
    * Comparison operators
    * Logical Operators
    * Bitwise Operators
    * Assignment Operators
    * Identity Operators
    * Membership Operators

### Arithmetic Operators

* This type of operator is used to perform mathematical operations.

In [42]:
#Arithmetic operators and operations

a=50
b=10
print("Addition:",a+b)
print("Subraction:",a-b)
print("Divison:",a/b)# '//' or int(var1/var2) is used to avoid float numbers
print("Multiplication:",a*b)
print("Modulo:",a%b)
print("Exponentiation:",b**2)

Addition: 60
Subraction: 40
Divison: 5.0
Multiplication: 500
Modulo: 0
Exponentiation: 100

### Relational Operators

* This type of operator is used to compare two values.

In [ ]:
#Relational or comparison operator And Operations

x=50
y=10
print("Less than:",x<y)
print("Greater than:",x>y)
print("Less than or equal to:",x<=y)
print("Greater than or equal to:",x>=y)
print("Double Equal to:",x==y)
print("Not equal to:",x!=y)

### Logical Operators

* This type of operator is used to combine conditional statements

In [16]:
#Logical operators

a=1
b=2
print("AND:",a<b or b<a)
print("OR:",a<b and b<a)
print("NOT:",not(a<b))

AND: True
OR: False
NOT: False

### Bitwise Operators

* Operate on binary representations of numbers

In [ ]:
#Bitwise operators

a = 12  # Binary: 1100
b = 7   # Binary: 0111
print('Bitwise And:', a & b)   # Binary result: 0100
print('Bitewise OR:', a | b)   # Binary result: 1111
print('Bitwise XOR:', a ^ b)   # Binary result: 1011
print('Bitwise NOT:', ~a )     # Binary result: 0011
print('Bitwise RIGHT SHIFT:', a << 2)  # Binary result: 0011 0000)
print('Bitwise LEFT SHIFT:', a >> 2)  # Binary result: 0000 0011)

### Assignment Operators

* This type of operator is used to assign values to variables

In [188]:
#Assignment Operators and Operations

a=5
a+= 3
print('Addition:', a)
a-=0
print("Subraction:",a)
a/=2
print("Divison:",a) # '//' or int(var1/var2) is used to avoid float numbers
a*=2
print("Multiplication:",a)
a%=2
print("Modulo:",a)
a**=2
print("Exponention:",a)

Addition: 8
Subraction: 8
Divison: 4.0
Multiplication: 8.0
Modulo: 0.0
Exponention: 0.0

### Identity Operators

* This type of operator isused to compare the memory locations of two objects

In [28]:
#Identity operator and operations

a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a is not b) 
print(a is c)

True
True

### Membership Operators

* This type of operator is used to check if a value is a member of a sequence (like a list or a string)

In [192]:
#Membership operator

x=str(input())
A='a','A','e','E','i','I','o','O','u','U'
if x not in A:# in and not in are the types
    print('consonent')
else:
    print('vowel')

 g

consonent

# Strings

* Python strings are immutable, meaning that once created, they cannot be changed, but you can create new strings based on operations performed on existing ones.
* A string is a sequence of characters enclosed within single quotes ('), double quotes ("), or triple quotes (''' or """).Strings are used to store text.

In [23]:
# Single quotes
string1 = 'Hello, world!'

# Double quotes
string2 = "Hello, world!"

# Triple quotes (for multi-line strings)
string3 = """This is a
multi-line string."""

In [31]:
#Concatenation

str1 = 'Hello'
str2 = 'World'
combined = str1 + ' ' + str2
print(combined)

Hello World

In [33]:
#Repetition

str1 = 'ha'
repeated = str1 * 3
print(repeated)

hahaha

In [35]:
#String length

text = 'Python'
print(len(text))

6

In [37]:
#Formatting string

name = 'Ganesh'
age = 20
formatted = f'Name: {name}, Age: {age}'
print(formatted)

Name: Ganesh, Age: 20

In [19]:
#STRING INDEXING

str="Hello World!!"
print(str[0])
print(str[1])
print(type(str))

H
e
<class 'str'>

In [35]:
#STRING SLICING

str="HelloWorlds"
print(' 1.',str[:5])
print(' 2.',str[2:])
print(' 3.',str[2:5])
print(' 4.',str[:-4])
print(' 5.',str[-4:])
print(' 6.',str[::2])
print(' 7.',str[::-2])
print(' 8.',str[:7:2])
print(' 9.',str[1:11:2])
print('10.',str[:10:2])
print('11.',str[-9:9:2])
print('12.',str[:])

 1. Hello
 2. lloWorlds
 3. llo
 4. HelloWo
 5. rlds
 6. Hlools
 7. sloolH
 8. Hloo
 9. elWrd
10. Hlool
11. lool
12. HelloWorlds

In [214]:
#string Methods

text = "hello world"

# 1. str.upper()
print("Uppercase:", text.upper())  # Output: HELLO WORLD

# 2. str.lower()
print("Lowercase:", text.lower())  # Output: hello world

# 3. str.capitalize()
print("Capitalized:", text.capitalize())  # Output: Hello world

# 4. str.title()
print("Title Case:", text.title())  # Output: Hello World

# 5. str.strip()
print("Stripped:", text.strip())  # Output: hello world

# 6. str.lstrip()
print("Left Stripped:", text.lstrip())  # Output: hello world   

# 7. str.rstrip()
print("Right Stripped:", text.rstrip())  # Output:    hello world

# 8. str.replace(old, new)
print("Replaced:", text.replace("world", "Python"))  # Output:    hello Python   

# 9. str.split(separator)
words = text.split()
print("Split:", words)  # Output: ['hello', 'world']

# 10. str.join(iterable)
sentence = " ".join(words)
print("Joined:", sentence)  # Output: hello world

# 11. str.startswith(prefix)
print("Starts with 'he':", text.startswith("he"))  # Output: True

# 12. str.endswith(suffix)
print("Ends with 'world':", text.endswith("world"))  # Output: True

# 13. str.find(substring)
print("Find 'world':", text.find("world"))  # Output: 9

# 14. str.count(substring)
print("Count 'hello':", text.count("hello"))  # Output: 1

# 15. str.isdigit()

print("Is digit '12345':", "12345".isdigit())  # Output: True
print("Is digit '123a45':", "123a45".isdigit())  # Output: False

Uppercase: HELLO WORLD
Lowercase: hello world
Capitalized: Hello world
Title Case: Hello World
Stripped: hello world
Left Stripped: hello world
Right Stripped: hello world
Replaced: hello Python
Split: ['hello', 'world']
Joined: hello world
Starts with 'he': True
Ends with 'world': True
Find 'world': 6
Count 'hello': 1
Is digit '12345': True
Is digit '123a45': False

### Exercises

In [224]:
#Q.no:1 
#Write a program to count the number of vowels in a string entered by the user.

vowels = 'aeiou'
user_input = input("Enter a string: ")
vowel_count = 0
for char in user_input.lower():  
    if char in vowels:
        vowel_count += 1
print("The number of vowels in the entered string is: {}".format(vowel_count))

Enter a string:  gAnesh

The number of vowels in the entered string is: 2

In [230]:
#Q.no:2 
#Write a program to check if a string entered by the user is a palindrome.

user=input()
n=user[::-1]
if user.lower()==n.lower():
    print('It is a palindrome')
else:
    print('It is not a palindrome')

 Madam

It is a palindrome

In [232]:
#Q.no:3 
#Write a program to find the frequency of each character in a string entered by the user.

user_input = input("Enter a string: ")
frequency = {}
for char in user_input:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print("Character frequencies:")
for char, count in frequency.items():
    print("{}: {}".format(char, count))

Enter a string:  ganesh

Character frequencies:
g: 1
a: 1
n: 1
e: 1
s: 1
h: 1

In [236]:
#Q.no:4 
#Write a program to remove all whitespace characters from a string entered by the user.

user_input = input("Enter a string: ")
cleaned_string = user_input.replace(" ", "")
print("String without whitespace characters:", cleaned_string)

Enter a string:  gan ash n

String without whitespace characters: ganashn

In [238]:
#Q.no:5 
#Write a program to replace all occurrences of a substring in a string 
#entered by the user with another substring.

original_string = input("Enter the original string: ")
substring_to_replace = input("Enter the substring to replace: ")
replacement_substring = input("Enter the replacement substring: ")
modified_string = original_string.replace(substring_to_replace, replacement_substring)
print("Modified string:", modified_string)

Enter the original string:  Ganesh
Enter the substring to replace:  gan
Enter the replacement substring:  es

Modified string: Ganesh

## Lists

* A list is a mutable, ordered collection of items that can be of any type, including other lists. 
* Lists are defined by enclosing elements in square brackets ('[]') and separating them with commas

In [38]:
# A list of integers
numbers = [1, 2, 3, 4, 5]

# A list of strings
fruits = ['apple', 'banana', 'cherry']

# A list with mixed data types
mixed_list = [1, 'apple', 3.14, [1, 2, 3]]

In [ ]:
#Appending elements

fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)

In [49]:
#Inserting elements

fruits = ['apple', 'banana']
fruits.insert(1, 'blueberry')  # Insert 'blueberry' at index 1
print(fruits)

['apple', 'blueberry', 'banana']

In [240]:
#LIST Indexing

list1=['1','2','3',['Ganesh','99.11',['12','ganesh1']],'CBE']
print(list1[3]) 
print(list1[1]) 
print(list1[3][1]) 
print(list1[3][2][0]) 
print(list1[4])

['Ganesh', '99.11', ['12', 'ganesh1']]
2
99.11
12
CBE

In [43]:
#LIST slicing

list1=['1','2','3',['Ganesh','99.11',['12','ganesh1']],'CBE']
print(list1[1:5])

['2', '3', ['Ganesh', '99.11', ['12', 'ganesh1']], 'CBE']

In [45]:
#LIST in for loop

list1=['1','2','3',['Ganesh','99.11',['12','ganesh1']],'CBE']
for i in list1[:5:2]:
    print(i)

1
3
CBE

In [42]:
#LIST Methods

list = ['1','2','3','Hello world']
b=['3','4']
# 1. list.append()
list.append('6')
print("1.added an element in end :", list)  

# 2. list.clear()
#list.clear()
#print("2.List cleared:", list)  

# 3. list.copy()
a=list.copy()
print("3.Copied list:",a)  

# 4. list.count()
print("4.no.of.elements in list:", list.count('3'))  

# 5. list.extend()
list.extend(a)
print("5.added an list into list:", list)  

# 6. list.index()
print("6.index:", list.index('3')) 

# 7. list.insert()
list.insert(0,'4')
print("7.insertion:", list)

# 8. list.pop()
print("8.pop method:", list.pop(1))    

# 9. list.remove()
list.remove('Hello world')
print("9.removed an element:",list)

# 10. list.sor()
list.sort()
print("10.Sorting:", list)  

# 11. list.reverse()
list.reverse()
print("11.reversed:", list)

1.added an element in end : ['1', '2', '3', 'Hello world', '6']
3.Copied list: ['1', '2', '3', 'Hello world', '6']
4.no.of.elements in list: 1
5.added an list into list: ['1', '2', '3', 'Hello world', '6', '1', '2', '3', 'Hello world', '6']
6.index: 2
7.insertion: ['4', '1', '2', '3', 'Hello world', '6', '1', '2', '3', 'Hello world', '6']
8.pop method: 1
9.removed an element: ['4', '2', '3', '6', '1', '2', '3', 'Hello world', '6']
10.Sorting: ['1', '2', '2', '3', '3', '4', '6', '6', 'Hello world']
11.reversed: ['Hello world', '6', '6', '4', '3', '3', '2', '2', '1']

### Excercises

In [242]:
#Q.no:1 
#Write a program to create a list of n integers entered by the user and
#print the sum of all the elements in the list.

n=int(input('Enter the number of integers'))
list=[]
for i in range(0,n):
    a=int(input("Enter a integer:"))
    list.append(a)
print("addition:",sum(list))

Enter the number of integers 3
Enter a integer: 10
Enter a integer: 10
Enter a integer: 10

addition: 30

In [246]:
#Q.no:2 
#Write a program to find the maximum and minimum values in a list of n integers 
#entered by the user.

n=int(input('Enter the number of integers'))
list=[]
for i in range(0,n):
    a=int(input("Enter a integer:"))
    list.append(a)
print("Minimum:",min(list))
print("Maximum:",max(list))

Enter the number of integers 2
Enter a integer: 10
Enter a integer: 10

Minimum: 10
Maximum: 10

In [13]:
#Q.no:3 
#Write a program to reverse a list of n integers entered by the user without using the 
#built-in reverse method.

n=int(input('Enter the number of integers'))
list=[]
for i in range(0,n):
    a=int(input("Enter a integer:"))
    list.append(a)
print(list[::-1])

Enter the number of integers 3
Enter a integer: 2
Enter a integer: 4
Enter a integer: 6

[6, 4, 2]

In [248]:
#Q.no:4 Write a program to count the number of occurrences of a specific element in a list
#entered by the user.

def string_to_list(input_string):
    return input_string.split()
user_input_list = input("Enter a list of elements (separated by spaces): ")
element_to_count = input("Enter the element to count: ")
elements_list = string_to_list(user_input_list)
count = elements_list.count(element_to_count)
print("The number of occurrences of '{}' is: {}".format(element_to_count, count))

Enter a list of elements (separated by spaces):  hs,sf
Enter the element to count:  hsh

The number of occurrences of 'hsh' is: 0

In [50]:
#Q.no:5 
#Write a program to remove all duplicate elements from a list of n integers 
#entered by the user.

n=int(input('Enter the number of integers'))
list=[]
for i in range(0,n):
    a=int(input("Enter a integer:"))
    list.append(a)
print(list.remove(list ==list)

Enter the number of integers 4
Enter a integer: 1
Enter a integer: 1
Enter a integer: 2
Enter a integer: 3

None

## Tuples

* Tuples in Python are immutable,ordered collections of elements.
* Unlike lists, once a tuple is created, its contents cannot be altered.
* Tuples are used for grouping related data and are often employed when the data should remain constant.

In [ ]:
# A tuple with integers
numbers = (1, 2, 3, 4, 5)

# A tuple with strings
fruits = ('apple', 'banana', 'cherry')

# A tuple with mixed data types
mixed_tuple = (1, 'apple', 3.14, (1, 2, 3))

# A tuple with a single element (note the comma)
single_element_tuple = (42,)

In [46]:
#Accessing elements

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])  
print(fruits[-1])

apple
cherry

In [ ]:
#slicing elements

fruits = ('apple', 'banana', 'cherry')
print(fruits[1:3])

In [ ]:
#Concatenation

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)

In [48]:
#Repetition

tuple1 = ('a', 'b', 'c')
repeated = tuple1 * 3
print(repeated)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [50]:
#finding elements
fruits = ('apple', 'banana', 'cherry')
index = fruits.index('banana')
print(index)

1

In [52]:
#sorting Tuple 

tuple=('9','5','89','4','8','gan')
print(sorted(tuple))
type(tuple)

['4', '5', '8', '89', '9', 'gan']

tuple

In [32]:
#any() method

tuple=(0,1)
print(any(tuple))

True

In [53]:
#for loop in tuple

tuple=("apple","byte","computer")
for i in tuple:
    print(i)

apple
byte
computer

In [45]:
#for loop and break in tuple

tuple=("apple","byte","computer")
n=2
for i in range(n):
    print(tuple[i])
    break

apple

## Dictionaries

* A dictionary is a mutable, unordered collection of key-value pairs.
* Dictionaries allow you to store and manage data in a way that is efficient for retrieval and modification.
* Each key in a dictionary must be unique and immutable (such as strings, numbers, or tuples),while the values can be of any data type, including lists, other dictionaries, or even functions.

In [10]:
#Dictionary declaration

value={1:'I',2:'am',3:'Ganesh'}
print(value)

{1: 'I', 2: 'am', 3: 'Ganesh'}

In [57]:
#Modifing values

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
my_dict['age'] = 31
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [59]:
#Accessing values

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict['name'])

Alice

In [61]:
#Removing elementa

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
del my_dict['city']
print(my_dict)

{'name': 'Alice', 'age': 30}

In [65]:
#adding New Key-Value Pairs

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
my_dict['email'] = 'alice@example.com'
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

In [54]:
# Dictionary indexing

value={1:'I','class':'am',3:'Ganesh'}
print(value[1])
print(value['class'])
print(value[3])
print(value[3],[1])

I
am
Ganesh
Ganesh [1]

In [56]:
#nested dictionary 

value={1:'I',2:'am',3:{4:'Ganesh',5:'N'}}
print(value[3][5])

N

In [75]:
#Dictionary methods

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

#keys()
print(my_dict.keys())  

#values()
print(my_dict.values())  

#items()
print(my_dict.items())  # Output: dict_items([('name', 'Alice')])

#update()
my_dict.update({'age': 31, 'city': 'New York'})
print(my_dict) 

#clear()
my_dict.clear()
print(my_dict)

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 30, 'New York'])
dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])
{'name': 'Alice', 'age': 31, 'city': 'New York'}
{}

## Sets

* A set is an unordered collection of unique, immutable elements.
* Sets are useful when you need to store distinct elements and perform operations like union, intersection, and difference.
* Because sets do not allow duplicate values, they are a great choice for ensuring that only unique elements are stored.

In [64]:
#Operations in sets

my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)
my_set.remove(4)
print(my_set)
my_set.discard(2) 
print(my_set)
print(3 in my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{1, 3, 5, 6}
True

In [66]:
#clearing all elements

my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

In [72]:
#set union,intersection,Difference and symmetric Difference

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # or set1.union(set2)
intersection_set = set1 & set2  # or set1.intersection(set2)
difference_set = set1 - set2  # or set1.difference(set2)
symmetric_difference_set = set1 ^ set2  # or set1.symmetric_difference(set2)

In [70]:
#Example program

fruits = {'apple', 'banana', 'cherry'}
print(fruits)
fruits.add('orange')
fruits.discard('banana')
if 'apple' in fruits:
    print("Apple is in the set")
vegetables = {'carrot', 'potato', 'apple'}
print(fruits.union(vegetables))

{'banana', 'apple', 'cherry'}
Apple is in the set
{'potato', 'cherry', 'carrot', 'orange', 'apple'}

## Functions

* Functions in Python are blocks of reusable code that perform a specific task.
* They help organize and structure your code, making it more modular, readable, and easier to maintain.
* Functions can take inputs, called parameters, and return outputs.
* Functions are defined using the 'def' keyword, followed by the function name, parentheses, and a colon.

In [6]:
#TO ADD TWO NUMBER WITH PRINT STATMENT IN FUNCTION 

def add_numbers(a,b):
    print('sum',a+b)
a= int(input())
b=int(input())
add_numbers(a,b)

 1
 2

sum 3

In [4]:
#TO ADD TWO NUMBERS USING FUNCTION

def add_numbers(a,b):
    sum=a+b
    return sum
a= int(input())
b=int(input())
print(add_numbers(a,b))

 12
 1

13

In [90]:
# To calculate Base and value functions

def base_value(n,m):
    base=n**m
    return base
    
n=int(input())
m=int(input())
print(base_value(n,m))

 2
 2

4

In [96]:
#Factorial function

def factorial(n):
    sum=1
    for i in range(n,0,-1):
        sum = sum * i
    return sum
n=int(input())
print(factorial(n))

 4

24

In [ ]:
#Function With argument without return type

def add_numbers(a,b):
    print('sum',a+b)
a= int(input())
b=int(input())
add_numbers(a,b)

In [114]:
#Function With argument with return type

def add_numbers(a,b):
    sum=a+b
    return sum
a= int(input())
b=int(input())
add_numbers(a,b)

 1
 2

3

In [116]:
#Function Without argument with return type

def add_numbers():
    sum=a1+b1
    return sum
a1= int(input())
b1=int(input())
add_numbers()

 1
 2

3

In [122]:
#Function Without argument without return type

def add_numbers():
    a1+b1
    
a1= int(input())
b1=int(input())
print(add_numbers())

 10
 20

None

In [126]:
#lambda function

sub=lambda a,b:a-b
div=lambda a,b:a/b
mul=lambda a,b:a*b
add=lambda a,b:a+b
a=int(input())
b=int(input())
print(add(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))

 10
 20

30
-10
200
0.5

In [140]:
#To add,sub,div,multi

def add(a,b):
    print('sum',a+b)
def sub(a,b):   
    print('sub',a-b)
def mul(a,b):    
    print('mul',a*b)
def div(a,b):    
    print('div',a//b)

a=int(input())
b=int(input())
c=input()
if c=='+':
    add(a,b)
if c== '-':
    sub(a,b)
if c=='*':
    mul(a,b)
if c=='/':
    div(a,b)

 100
 10
 /

div 10

In [23]:
#to find the max value

def max_value(a, b):
    return max(a, b)
a=int(input())
b=int(input())
print("Max is:", max_value(a,b))

 2
 1

Max is: 2

In [11]:
#to check the equality

def equality(a,b):
    if a==b:
        print("a is Equal to b")
    else:
        print("a is not equal to b")
a=int(input())
b=int(input())
equality(a,b)

 1
 1

a is Equal to b

In [21]:
#To check whether the given string is palindrome or not

def palindrome(a):
    if a==a[::-1]:
        print('it is palindrome')
    else:
        print('it is not palindrome')
a=input()
palindrome(a)

 gan

it is not palindrome

In [41]:
#to add element and view the list

def add_to_list(n):
    for i in range(1,n+1):
        m=int(input('Enter the value:'))
        list.append(m)
    print(list)
list=[1,2,3]
n=int(input('Enter the number of value:'))
add_to_list(n)

Enter the number of value: 3
Enter the value: 4
Enter the value: 5
Enter the value: 6

[1, 2, 3, 4, 5, 6]

In [16]:
#To check whether the given input is vowel or not

def vowel(b):
    a=['a','e','i','o','u','A','E','O','I','U']
    if b in a:
        print('it is vowel')
    else:
        print('it is not a vowel')
a=input()
vowel(a)

 a

it is vowel

## Recursion

* Recursion refers to the process where a function calls itself in order to solve a problem.
* Recursive functions are often used for problems that can be broken down into smaller, similar sub-problems.

In [80]:
#Recursive Implementation in fibonacci

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

In [82]:
#Recursive Implementation in fibonacci

def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(7))

13

## 50 Questions & Answers

In [94]:
#Question 1
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 2500 (both included).The numbers obtained should be printed in a comma-separated 
#sequence on a single line.

for i in range(2000, 2501):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end="  ")
print("\b")

2002  2009  2016  2023  2037  2044  2051  2058  2072  2079  2086  2093  2107  2114  2121  2128  2142  2149  2156  2163  2177  2184  2191  2198  2212  2219  2226  2233  2247  2254  2261  2268  2282  2289  2296  2303  2317  2324  2331  2338  2352  2359  2366  2373  2387  2394  2401  2408  2422  2429  2436  2443  2457  2464  2471  2478  2492  2499

In [88]:
#Question 2
#Write a program which can compute the factorial of a given numbers.
#The results should be printed in a comma-separated sequence on a single line.
#Suppose the following input is supplied to the program: 8 Then, the output should be:40320

n = int(input())  
fact = 1
for i in range(1, n + 1):
    fact = fact * i
print(fact)

 8

40320

In [78]:
#Question 3
'''With a given integral number n, write a program to generate a dictionary 
that contains (i, i x i) such that is an integral number between 1 and n (both included).
and then the program should print the dictionary.
Suppose the following input is supplied to the program: 8'''
#Then, the output should be:
#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#Using For loop
n = int(input())
ans = {}
for i in range(1, n + 1):
    ans[i] = i * i
print(ans)

 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [11]:
#Question 4
#Write a program which accepts a sequence of comma-separated numbers from console and generate
#a list and a tuple which contains every number.Suppose the following input is supplied to the program:
#34,67,55,33,12,98
#Then, the output should be:
#['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

lst = input().split(",")
tpl = tuple(lst)
print(lst)
print(tpl)

 34,67,55,33,12,98

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [7]:
#Question 5
#Write a program that calculates and prints the value according to the given formula:
#Q = Square root of [(2 _ C _ D)/H]
#Following are the fixed values of C and H:
#C is 50. H is 30.
#D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program:
#100,150,180
#The output of the program should be:
#18,22,24

from math import sqrt
C, H = 50, 30
def calc(D):
    return sqrt((2 * C * D) / H)
D = input().split(",")  
D = [
    str(round(calc(int(i)))) for i in D
]  # using comprehension method. It works in order of the previous code
print(",".join(D))

 100,150,180

18,22,24

In [13]:
#Question 6
#Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i _ j.*
#Note: i=0,1.., X-1; j=0,1,Â¡Â­Y-1. Suppose the following inputs are given to the program: 3,5
#Then, the output of the program should be:
#[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

x, y = map(int, input().split(","))
lst = []
for i in range(x):
    tmp = []
    for j in range(y):
        tmp.append(i * j)
    lst.append(tmp)
print(lst)

 3,5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [9]:
#Question 7
'''Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world'''

lst = input().split(",")
lst.sort()
print(",".join(lst))

 without, hello,bag,world

 hello,bag,without,world

In [104]:
#Question 8
#Write a program that accepts sequence of lines as input and 
#prints the lines after making all characters in the sentence capitalized.
#Suppose the following input is supplied to the program:
#Hello world
#Practice makes perfect
#Then, the output should be:
#HELLO WORLD
#PRACTICE MAKES PERFECT


lst = []
while (input):
    x = input()
    if len(x) == 0:
        break
    lst.append(x.upper())
for line in lst:
    print(line)

 Hello world
 Practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

In [106]:
#Question 9
'''Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS'''

word = input()
letter, digit = 0, 0
for i in word:
    if ("a" <= i and i <= "z") or ("A" <= i and i <= "Z"):
        letter += 1
    if "0" <= i and i <= "9":
        digit += 1
print("LETTERS {0}\nDIGITS {1}".format(letter, digit))

 hello world!123

LETTERS 10
DIGITS 3

In [108]:
#Question 10
'''Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9'''

word = input()
upper, lower = 0, 0
for i in word:
    if "a" <= i and i <= "z":
        lower += 1
    if "A" <= i and i <= "Z":
        upper += 1
print("UPPER CASE {0}\nLOWER CASE {1}".format(upper, lower))

 Hello world

UPPER CASE 1
LOWER CASE 9

In [50]:
#Question 11
'''Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106'''

a = input()
total = int(a) + int(2*a) + int(3*a) + int(4*a)  # N*a=Na, for example  a="23", 2*a="2323",3*a="232323"
print(total)

 9

11106

In [54]:
#Question 12
#Write a method which can calculate square value of number

n = int(input())
print(n ** 2)

 2

4

In [58]:
#Question 13
#Define a function which can compute the sum of two numbers.

sum = lambda n1, n2: n1 + n2  # here lambda is use to define little function as sum
print(sum(1, 2))

3

In [15]:
#Question 14
#Define a function that can convert a integer into a string and print it in console.

conv = lambda x: str(x)
n = conv(10)
print(n)
print(type(n))

10
<class 'str'>

In [68]:
#Question 15
#Define a function that can accept two strings as input and concatenate them and then print it in console.

sum = lambda s1, s2: s1 + s2
print(sum("10", "45"))

1045

In [6]:
#Question 16
#Define a function which can print a dictionary where the keys are numbers 
#between 1 and 20 (both included) and the values are square of keys.

def printDict():
    dict = {i: i ** 2 for i in range(1, 21)}  # Using comprehension method and
    print(dict)
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [110]:
#Question 17
#How can you find the second largest number in a list?

def second_largest(lst):
    first, second = float('-inf'), float('-inf')
    for num in lst:
        if num > first:
            first, second = num, first
        elif first > num > second:
            second = num
    return second

# Example
lst = [10, 20, 4, 45, 99]
print(second_largest(lst))

45

In [12]:
#Question 18
#Define a function which can generate and print a list 
#where the values are square of numbers between 1 and 20 (both included).

def printList():
    lst = [i ** 2 for i in range(1, 21)]
    for i in range(5):
        print(lst[i])
printList()

1
4
9
16
25

In [112]:
#Question 19
#Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

text = input("Please type something. --> ")
if text == "yes" or text == "YES" or text == "Yes":
    print("Yes")
else:
    print("No")

Please type something. -->  yes

Yes

In [22]:
#Question 20
#Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

def even(x):
    return x % 2 == 0
evenNumbers = filter(even, range(1, 21))#filter(function,iterable)
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
#Question 21
#Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

def sqr(x):
    return x * x
squaredNumbers = list(map(sqr, range(1, 21)))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [114]:
#Question 22
'''Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).
Example: If the following n is given as input to the program:
5
Then, the output of the program should be:
3.55
In case of input data being supplied to the question, it should be assumed to be a console input.'''


n = int(input())
sum = 0
for i in range(1, n + 1):
    sum += i / (i + 1)
print(round(sum, 2))  # rounded to 2 decimal point

 5

3.55

In [17]:
#Question 23
'''Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
Example: If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10
In case of input data being supplied to the question, it should be assumed to be a console input.'''

n = int(input())

for i in range(0, n + 1, 2):
    if i < n - 1:
        print(i, end=",")
    else:
        print(i)

 10

0,2,4,6,8,10

In [130]:
#Question 24
#Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

import random
resp = [i for i in range(0, 11, 2)]
print(random.choice(resp))

10

In [132]:
#Question 25
#Please write a program to print the running time of execution of "1+1" for 100 times.


import time
before = time.time()
for i in range(100):
    x = 1 + 1
after = time.time()
execution_time = after - before
print(execution_time)

6.198883056640625e-05

In [142]:
#Question 26
#Please write a program to shuffle and print the list [3,6,7,8]

import random

lst = [3, 6, 7, 8]
random.shuffle(lst)
print(lst)

[8, 3, 6, 7]

In [144]:
#Question 27
#By using list comprehension,
#please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155]


li = [12, 24, 35, 70, 88, 120, 155]
li = [li[i] for i in range(len(li)) if i % 2 != 0]
print(li)

[24, 70, 120]

In [190]:
#Question 28
#By using list comprehension,
#please write a program to print the list after removing the 2nd - 4th numbers in [12,24,35,70,88,120,155]

li = [12, 24, 35, 70, 88, 120, 155]
li = [li[i] for i in range(len(li)) if i < 3 or 4 < i]
print(li)

[12, 24, 35, 120, 155]

In [196]:
#Question 29
#By using list comprehension, 
#please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

li = [12, 24, 35, 24, 88, 120, 155]
li.remove(24)  # this will remove only the first occurrence of 24
print(li)

[12, 35, 24, 88, 120, 155]

In [202]:
#Question 30
#With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], 
#write a program to make a list whose elements are intersection of the above given lists.

list1 = [1, 3, 6, 78, 35, 55]
list2 = [12, 24, 35, 24, 88, 120, 155]
set1 = set(list1)
set2 = set(list2)
intersection = set1 & set2
print(intersection)

{35}

In [204]:
#Question 31
#With a given list [12,24,35,24,88,120,155,88,120,155],
#write a program to print this list after removing all duplicate values with original order reserved

li = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
for i in li:
    if li.count(i) > 1:
        li.remove(i)
print(li)

[12, 35, 24, 88, 120, 155]

In [19]:
#Question 32
'''Please write a program which accepts a string from console and print the characters that have even indexes.
Example: If the following string is given as input to the program:
H1e2l3l4o5w6o7r8l9d
Then, the output of the program should be:
Helloworld'''

s = "H1e2l3l4o5w6o7r8l9d"
s = [s[i] for i in range(len(s)) if i % 2 == 0]
print("".join(s))

Helloworld

In [27]:
#Question 33
'''Given the participants' score sheet for your University Sports Day,
you are required to find the runner-up score.You are given scores.
Store them in a list and find the score of the runner-up.
If the following string is given as input to the program:
5 2 3 6 6 5
Then, the output of the program should be:
5'''

L = []

while True:
    num = int(input("Enter num (0 to stop): "))
    if num == 0:
        break
    L.append(num)

# Remove duplicates and sort
L1 = list(set(L))
L2 = sorted(L1)

# Display sorted unique numbers
print(L2)

# Print the runner-up if there are at least two unique numbers
if len(L2) > 1:
    print(f"The runner-up is {L2[-2]}")
else:
    print("Not enough unique numbers to determine a runner-up.")

Enter num (0 to stop):  5
Enter num (0 to stop):  2
Enter num (0 to stop):  3
Enter num (0 to stop):  6
Enter num (0 to stop):  6
Enter num (0 to stop):  5
Enter num (0 to stop):  0

[2, 3, 5, 6]
The runner-up is 5

In [29]:
#Question 34
'''You are given a date. Your task is to find what the day is on that date.
Input
A single line of input containing the space separated month, day and year, respectively, in MM DD YYYY format.
08 05 2015
Output
Output the correct day in capital letters.
WEDNESDAY'''

import calendar

month, day, year = map(int, input().split())

dayId = calendar.weekday(year, month, day)
print(calendar.day_name[dayId].upper())

 08 05 2015

WEDNESDAY

In [31]:
#Question 35
'''Given a number N.Find Sum of 1 to N Using Recursion.
Input
5
Output
15'''

def rec(n):
    if n == 0:
        return n
    return rec(n - 1) + n

n = int(input())
sum = rec(n)
print(sum)

 5

15

In [33]:
#Question 36
'''You are given a string.Your task is to count the frequency of letters of the string and print the letters in descending order of frequency.
If the following string is given as input to the program:
aabbbccde
Then, the output of the program should be:
b 3 a 2 c 2 d 1 e 1'''

word = input()
dct = {}
for i in word:
    dct[i] = dct.get(i, 0) + 1

dct = sorted(dct.items(), key=lambda x: (-x[1], x[0]))
for i in dct:
    print(i[0], i[1])

 aabbbccde

b 3
a 2
c 2
d 1
e 1

In [242]:
#Question 37
#How can you calculate the nth Fibonacci number using an iterative approach?

def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        a, b = b, a + b
    return a

# Example
print(fibonacci(10))

 2
 3

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [11]:
#Question 38
#How do you sort a list of dictionaries by a specific key?

data = [{'name': 'John', 'age': 45}, {'name': 'Jane', 'age': 30}, {'name': 'Doe', 'age': 25}]
sorted_data = sorted(data, key=lambda x: x['age'])
print(sorted_data)

[{'name': 'Doe', 'age': 25}, {'name': 'Jane', 'age': 30}, {'name': 'John', 'age': 45}]

In [4]:
#Question 39
#How can you remove duplicates from a list while preserving the order?

def remove_duplicates(lst):
    return list(dict.fromkeys(lst))

# Example
lst = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(lst))

[1, 2, 3, 4, 5]

In [6]:
#Question 40
#Write a Python function that counts the number of occurrences of each character in a string.

from collections import Counter

def char_count(s):
    return dict(Counter(s))

# Example
s = "banana"
print(char_count(s))

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
#Question 41
#How can you merge two dictionaries in Python?

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

In [8]:
#Question 42
#How can you check if a given string is a valid email address?

import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

# Example
email = "test@example.com"
print(is_valid_email(email))  # Output: True

True

In [80]:
#Question 43
#How can you get the current date and time in Python?

from datetime import datetime

now = datetime.now()
print(now)

2024-08-22 17:21:23.412587

In [12]:
#Quesition 44
#Write a function to sort a list of tuples based on the second element of each tuple.

def sort_tuples(lst):
    return sorted(lst, key=lambda x: x[1])

# Example
lst = [(1, 3), (2, 1), (3, 2)]
print(sort_tuples(lst))

[(2, 1), (3, 2), (1, 3)]

In [18]:
#Question 45
#How can you check if a list is sorted in ascending order?

def is_sorted(lst):
    return lst == sorted(lst)

# Example
lst = [1, 2, 3, 4]
print(is_sorted(lst))

True

In [20]:
#Question 46
#How can you find the common elements between two lists while preserving their order?

def common_elements(lst1, lst2):
    return [x for x in lst1 if x in lst2]

# Example
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(common_elements(lst1, lst2))

[3, 4]

In [24]:
#Question 47
#How can you count the number of lines in a text file?

def count_lines(filename):
    with open(filename, 'r') as file:
        return sum(1 for line in file)
print(count_lines('ABCD.txt'))

3

In [26]:
#Question 48
#Write a function that merges two sorted lists into a single sorted list.

def merge_sorted_lists(lst1, lst2):
    sorted_list = []
    i, j = 0, 0
    while i < len(lst1) and j < len(lst2):
        if lst1[i] < lst2[j]:
            sorted_list.append(lst1[i])
            i += 1
        else:
            sorted_list.append(lst2[j])
            j += 1
    sorted_list.extend(lst1[i:])
    sorted_list.extend(lst2[j:])
    return sorted_list

# Example
lst1 = [1, 3, 5]
lst2 = [2, 4, 6]
print(merge_sorted_lists(lst1, lst2))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [34]:
#Question 49
#How can you find the longest word in a string?

def longest_word(s):
    words = s.split()
    return max(words, key=len)

# Example
s = "The quick brown foxes jumps over the lazy dog"
print(longest_word(s))  # Output: "jumps"

quick

In [87]:
#Question 50
#Write a Python program to find all the unique elements in a list.

def unique_elements(lst):
    return list(set(lst))

# Example
lst = [1, 2, 2, 3, 4, 4, 5]
print(unique_elements(lst))

[1, 2, 3, 4, 5]